[core]
    excludesfile = ~/.gitignore
    editor = EDITOR
[user]
    name = AUTHORNAME
    email = AUTHOREMAIL
[url "ssh://git@github.com/"]
    insteadOf = git://github.com/
[push]
    default = simple
[url "https://"]
    insteadOf = git://
[credential]
    helper = CREDENTIAL_HELPER